    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-md-12">
            <div class="footer-info">
              <h3>JQ Securities</h3>
              <p class="pb-3"><em>JQ Securities (Hong Kong) Limited </em></p>

              <div class="social-links mt-3   d-none">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <!-- <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a> -->
              </div>
            </div>
          </div>
      
          <div class="col-lg-3 col-md-12 footer-links">
            <h4>Navigation</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index_en.html">Company</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="stakeholders_en.html">Organization</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="business_en.html">Business</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="operation_en.html">Operation</a></li>

            </ul>
          </div>
          <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div> -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; <strong><span>JQ Securities (Hong Kong) Limited</span></strong>. All rights reserved 2020.
      </div>
    </div>