<div class="container d-flex align-items-center">

      <!-- <h1 class="logo mr-auto"><a href="index_hk.html">Multi</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index_hk.html" class="logo mr-auto">
        <img src="assets/img/logo_1.jpg" alt="" style="max-height:50px" class="img-fluid"></a>

      <nav id="nav-menu" class="nav-menu d-none d-lg-block">
        <ul>
          {{#if index}}
            <li class="active"><a href="index_hk.html">公司介紹</a></li>
          {{else}}
            <li><a href="index_hk.html">公司介紹</a></li>
          {{/if}}

          {{#if organization}}
            <li class="active drop-down"><a href="shareholders_hk.html">公司結構</a>
              <ul>
                <li><a href="shareholders_hk.html">股東背景</a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="shareholders_hk.html">公司結構</a>
              <ul>
                <li><a href="shareholders_hk.html">股東背景</a></li>
              </ul>
            </li>
          {{/if}}
          
          {{#if business}}
            <li class="active drop-down"><a href="business_hk.html">業務活動</a>
              <ul>
                <li><a href="business_hk.html#">債券項目</a></li>
                <li><a href="business_hk.html#">證券經紀服務</a></li>
                <li><a href="business_hk.html#">證券研究與資產管理</a></li>
                <li><a href="business_hk.html#">發展</a></li>
                <li><a href="business_hk.html#">客戶及市場</a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="business_hk.html">業務活動</a>
              <ul>
                <li><a href="business_hk.html#">債券項目</a></li>
                <li><a href="business_hk.html#">證券經紀服務</a></li>
                <li><a href="business_hk.html#">證券研究與資產管理</a></li>
                <li><a href="business_hk.html#">發展</a></li>
                <li><a href="business_hk.html#">客戶及市場</a></li>
              </ul>
            </li>
          {{/if}}

          {{#if operation}}
            <li class="active drop-down"><a href="#">操作模式</a>
              <ul>
                <li><a href="operation_hk.html">證券經紀及買賣</a></li>
                <li><a href="risk_hk.html">風險和內部控制</a></li>
                 <li><a href="license_hk.html">牌照</a></li>
              </ul>
            </li>
          {{else}}
            <li class="drop-down"><a href="#">操作模式</a>
              <ul>
                <li><a href="operation_hk.html">證券經紀及買賣</a></li>
                <li><a href="risk_hk.html">風險和內部控制</a></li>
                 <li><a href="license_hk.html">牌照</a></li>
              </ul>
            </li>
          {{/if}}

          <li><a class="lang-link" href="javascript://" data-lang="hk">繁</a></li>
          <li><a class="lang-link" href="javascript://" data-lang="cn">简</a></li>
          <li><a class="lang-link" href="javascript://" data-lang="en">ENG</a></li> 

      </ul>
      </nav><!-- .nav-menu -->

      <!-- <a href="#about" class="get-started-btn">Get Started</a> -->

    </div>